<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="nopcommerce Regression Suite">
<parameter name="browser" value="headless" />
  <test name="Regression Test" preserve-order="true">
    <classes>
      <class name="tests.TestMyAccount"/>
      <class name="tests.TestContactUs"/>
      <class name="tests.TestSearchProduct"/>  
    </classes>
  </test> 
</suite>
